<h1>メッセージ 編集</h1>
<%= form_with model: @message, local: true do |f| %>

  <div class="input-group my-4">
  <div class="input-group-prepend">
    <span class="input-group-text">タイトル</span>
  </div>
<%= f.text_field :title, class: 'form-control' %>
</div>

<div class="input-group my-4">
  <div class="input-group-prepend">
    <span class="input-group-text">内容</span>
  </div>
<%= f.text_field :content, class: 'form-control' %>
</div>

<%= f.submit "送信", class: 'btn btn-primary btn-block my-4' %>
<hr>
<p><%= link_to "一覧画面へ", messages_path, class: 'btn btn-info btn-block mt-4'  %></p>
<% end %>