<!DOCTYPE html>
<html>
  <head>
    <title>共同開発 基礎</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>
  <%= render "layouts/flash" %>
  <body>
    <div class="mx-auto" style="width: 680px;">
          <%= render "layouts/header" %>
          <%= yield %>
    </div>
  </body>
</html>
